<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h3>Patinha Carente</h3>
        <p>Transformando vidas através da adoção responsável.</p>
      </div>
      <div class="footer-section">
        <h4>Apoie nossa causa</h4>
        <p>Sua ajuda transforma vidas!</p>
        <button class="btn-donate-footer" routerLink="/noticias">Fazer uma Doação 🐾</button>
      </div>
      <div class="footer-section">
        <h4>Contato</h4>
        <p>Email: contato&#64;patinhacarente.org</p>
        <p>Telefone: (68) 9999-9999</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy;{{ year }}Patinha Carente. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>
